.banner-slide-wrapper .container {
 padding-top: 120px !important;
 padding-bottom: 120px !important;
}

.available__dropdown, 
available-timeframe__wrapper, {
  display: none !important;
}

.category-title .text-component {  
  font-size: 40px;
}
